/*
Vobiz API

Complete Vobiz API collection covering all endpoints: Calls, Conferences, Recordings, Account, Phone Numbers, Applications, Endpoints, Trunks, Sub-Accounts, and CDR.  Base URL: https://api.vobiz.ai  Authentication: All requests require X-Auth-ID and X-Auth-Token headers.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package vobiz

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// CDRAPIService CDRAPI service
type CDRAPIService service

type ApiApiV1AccountAccountIdCdrGetRequest struct {
	ctx context.Context
	ApiService *CDRAPIService
	accountId string
	xAuthID *string
	xAuthToken *string
	contentType *string
	startDate *string
	endDate *string
	perPage *int32
	page *int32
}

func (r ApiApiV1AccountAccountIdCdrGetRequest) XAuthID(xAuthID string) ApiApiV1AccountAccountIdCdrGetRequest {
	r.xAuthID = &xAuthID
	return r
}

func (r ApiApiV1AccountAccountIdCdrGetRequest) XAuthToken(xAuthToken string) ApiApiV1AccountAccountIdCdrGetRequest {
	r.xAuthToken = &xAuthToken
	return r
}

func (r ApiApiV1AccountAccountIdCdrGetRequest) ContentType(contentType string) ApiApiV1AccountAccountIdCdrGetRequest {
	r.contentType = &contentType
	return r
}

// Start date (YYYY-MM-DD)
func (r ApiApiV1AccountAccountIdCdrGetRequest) StartDate(startDate string) ApiApiV1AccountAccountIdCdrGetRequest {
	r.startDate = &startDate
	return r
}

// End date (YYYY-MM-DD)
func (r ApiApiV1AccountAccountIdCdrGetRequest) EndDate(endDate string) ApiApiV1AccountAccountIdCdrGetRequest {
	r.endDate = &endDate
	return r
}

// Results per page
func (r ApiApiV1AccountAccountIdCdrGetRequest) PerPage(perPage int32) ApiApiV1AccountAccountIdCdrGetRequest {
	r.perPage = &perPage
	return r
}

// Page number
func (r ApiApiV1AccountAccountIdCdrGetRequest) Page(page int32) ApiApiV1AccountAccountIdCdrGetRequest {
	r.page = &page
	return r
}

func (r ApiApiV1AccountAccountIdCdrGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiV1AccountAccountIdCdrGetExecute(r)
}

/*
ApiV1AccountAccountIdCdrGet Get Call Detail Records

Retrieve call detail records with filtering and pagination.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accountId
 @return ApiApiV1AccountAccountIdCdrGetRequest
*/
func (a *CDRAPIService) ApiV1AccountAccountIdCdrGet(ctx context.Context, accountId string) ApiApiV1AccountAccountIdCdrGetRequest {
	return ApiApiV1AccountAccountIdCdrGetRequest{
		ApiService: a,
		ctx: ctx,
		accountId: accountId,
	}
}

// Execute executes the request
func (a *CDRAPIService) ApiV1AccountAccountIdCdrGetExecute(r ApiApiV1AccountAccountIdCdrGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CDRAPIService.ApiV1AccountAccountIdCdrGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/account/{account_id}/cdr"
	localVarPath = strings.Replace(localVarPath, "{"+"account_id"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_date", r.startDate, "form", "")
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_date", r.endDate, "form", "")
	}
	if r.perPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", r.perPage, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAuthID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Auth-ID", r.xAuthID, "simple", "")
	}
	if r.xAuthToken != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Auth-Token", r.xAuthToken, "simple", "")
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuthID"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-ID"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuthToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
