/*
Vobiz API

Complete Vobiz API collection covering all endpoints: Calls, Conferences, Recordings, Account, Phone Numbers, Applications, Endpoints, Trunks, Sub-Accounts, and CDR.  Base URL: https://api.vobiz.ai  Authentication: All requests require X-Auth-ID and X-Auth-Token headers.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package vobiz

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// PhoneNumbersAPIService PhoneNumbersAPI service
type PhoneNumbersAPIService service

type ApiApiV1AccountAuthIdInventoryNumbersGetRequest struct {
	ctx context.Context
	ApiService *PhoneNumbersAPIService
	authId string
	xAuthID *string
	xAuthToken *string
	contentType *string
	country *string
	page *int32
	perPage *int32
}

func (r ApiApiV1AccountAuthIdInventoryNumbersGetRequest) XAuthID(xAuthID string) ApiApiV1AccountAuthIdInventoryNumbersGetRequest {
	r.xAuthID = &xAuthID
	return r
}

func (r ApiApiV1AccountAuthIdInventoryNumbersGetRequest) XAuthToken(xAuthToken string) ApiApiV1AccountAuthIdInventoryNumbersGetRequest {
	r.xAuthToken = &xAuthToken
	return r
}

func (r ApiApiV1AccountAuthIdInventoryNumbersGetRequest) ContentType(contentType string) ApiApiV1AccountAuthIdInventoryNumbersGetRequest {
	r.contentType = &contentType
	return r
}

// Filter by country code
func (r ApiApiV1AccountAuthIdInventoryNumbersGetRequest) Country(country string) ApiApiV1AccountAuthIdInventoryNumbersGetRequest {
	r.country = &country
	return r
}

// Page number
func (r ApiApiV1AccountAuthIdInventoryNumbersGetRequest) Page(page int32) ApiApiV1AccountAuthIdInventoryNumbersGetRequest {
	r.page = &page
	return r
}

// Results per page
func (r ApiApiV1AccountAuthIdInventoryNumbersGetRequest) PerPage(perPage int32) ApiApiV1AccountAuthIdInventoryNumbersGetRequest {
	r.perPage = &perPage
	return r
}

func (r ApiApiV1AccountAuthIdInventoryNumbersGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiV1AccountAuthIdInventoryNumbersGetExecute(r)
}

/*
ApiV1AccountAuthIdInventoryNumbersGet List Inventory Numbers

Browse available phone numbers in inventory for purchase.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param authId
 @return ApiApiV1AccountAuthIdInventoryNumbersGetRequest
*/
func (a *PhoneNumbersAPIService) ApiV1AccountAuthIdInventoryNumbersGet(ctx context.Context, authId string) ApiApiV1AccountAuthIdInventoryNumbersGetRequest {
	return ApiApiV1AccountAuthIdInventoryNumbersGetRequest{
		ApiService: a,
		ctx: ctx,
		authId: authId,
	}
}

// Execute executes the request
func (a *PhoneNumbersAPIService) ApiV1AccountAuthIdInventoryNumbersGetExecute(r ApiApiV1AccountAuthIdInventoryNumbersGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PhoneNumbersAPIService.ApiV1AccountAuthIdInventoryNumbersGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/account/{auth_id}/inventory/numbers"
	localVarPath = strings.Replace(localVarPath, "{"+"auth_id"+"}", url.PathEscape(parameterValueToString(r.authId, "authId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.country != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "country", r.country, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.perPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", r.perPage, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAuthID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Auth-ID", r.xAuthID, "simple", "")
	}
	if r.xAuthToken != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Auth-Token", r.xAuthToken, "simple", "")
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuthID"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-ID"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuthToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiApiV1AccountAuthIdNumbersE164NumberDeleteRequest struct {
	ctx context.Context
	ApiService *PhoneNumbersAPIService
	authId string
	xAuthID *string
	xAuthToken *string
	contentType *string
}

func (r ApiApiV1AccountAuthIdNumbersE164NumberDeleteRequest) XAuthID(xAuthID string) ApiApiV1AccountAuthIdNumbersE164NumberDeleteRequest {
	r.xAuthID = &xAuthID
	return r
}

func (r ApiApiV1AccountAuthIdNumbersE164NumberDeleteRequest) XAuthToken(xAuthToken string) ApiApiV1AccountAuthIdNumbersE164NumberDeleteRequest {
	r.xAuthToken = &xAuthToken
	return r
}

func (r ApiApiV1AccountAuthIdNumbersE164NumberDeleteRequest) ContentType(contentType string) ApiApiV1AccountAuthIdNumbersE164NumberDeleteRequest {
	r.contentType = &contentType
	return r
}

func (r ApiApiV1AccountAuthIdNumbersE164NumberDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiV1AccountAuthIdNumbersE164NumberDeleteExecute(r)
}

/*
ApiV1AccountAuthIdNumbersE164NumberDelete Unrent a Phone Number

Release (unrent) a phone number from your account.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param authId
 @return ApiApiV1AccountAuthIdNumbersE164NumberDeleteRequest
*/
func (a *PhoneNumbersAPIService) ApiV1AccountAuthIdNumbersE164NumberDelete(ctx context.Context, authId string) ApiApiV1AccountAuthIdNumbersE164NumberDeleteRequest {
	return ApiApiV1AccountAuthIdNumbersE164NumberDeleteRequest{
		ApiService: a,
		ctx: ctx,
		authId: authId,
	}
}

// Execute executes the request
func (a *PhoneNumbersAPIService) ApiV1AccountAuthIdNumbersE164NumberDeleteExecute(r ApiApiV1AccountAuthIdNumbersE164NumberDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PhoneNumbersAPIService.ApiV1AccountAuthIdNumbersE164NumberDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/account/{auth_id}/numbers/:e164_number"
	localVarPath = strings.Replace(localVarPath, "{"+"auth_id"+"}", url.PathEscape(parameterValueToString(r.authId, "authId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAuthID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Auth-ID", r.xAuthID, "simple", "")
	}
	if r.xAuthToken != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Auth-Token", r.xAuthToken, "simple", "")
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuthID"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-ID"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuthToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiApiV1AccountAuthIdNumbersGetRequest struct {
	ctx context.Context
	ApiService *PhoneNumbersAPIService
	authId string
	xAuthID *string
	xAuthToken *string
	contentType *string
}

func (r ApiApiV1AccountAuthIdNumbersGetRequest) XAuthID(xAuthID string) ApiApiV1AccountAuthIdNumbersGetRequest {
	r.xAuthID = &xAuthID
	return r
}

func (r ApiApiV1AccountAuthIdNumbersGetRequest) XAuthToken(xAuthToken string) ApiApiV1AccountAuthIdNumbersGetRequest {
	r.xAuthToken = &xAuthToken
	return r
}

func (r ApiApiV1AccountAuthIdNumbersGetRequest) ContentType(contentType string) ApiApiV1AccountAuthIdNumbersGetRequest {
	r.contentType = &contentType
	return r
}

func (r ApiApiV1AccountAuthIdNumbersGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiV1AccountAuthIdNumbersGetExecute(r)
}

/*
ApiV1AccountAuthIdNumbersGet List Account Phone Numbers

Retrieve all phone numbers associated with your account.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param authId
 @return ApiApiV1AccountAuthIdNumbersGetRequest
*/
func (a *PhoneNumbersAPIService) ApiV1AccountAuthIdNumbersGet(ctx context.Context, authId string) ApiApiV1AccountAuthIdNumbersGetRequest {
	return ApiApiV1AccountAuthIdNumbersGetRequest{
		ApiService: a,
		ctx: ctx,
		authId: authId,
	}
}

// Execute executes the request
func (a *PhoneNumbersAPIService) ApiV1AccountAuthIdNumbersGetExecute(r ApiApiV1AccountAuthIdNumbersGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PhoneNumbersAPIService.ApiV1AccountAuthIdNumbersGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/account/{auth_id}/numbers"
	localVarPath = strings.Replace(localVarPath, "{"+"auth_id"+"}", url.PathEscape(parameterValueToString(r.authId, "authId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAuthID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Auth-ID", r.xAuthID, "simple", "")
	}
	if r.xAuthToken != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Auth-Token", r.xAuthToken, "simple", "")
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuthID"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-ID"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuthToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiApiV1AccountAuthIdNumbersPurchaseFromInventoryPostRequest struct {
	ctx context.Context
	ApiService *PhoneNumbersAPIService
	authId string
	xAuthID *string
	xAuthToken *string
	contentType *string
	body *map[string]interface{}
}

func (r ApiApiV1AccountAuthIdNumbersPurchaseFromInventoryPostRequest) XAuthID(xAuthID string) ApiApiV1AccountAuthIdNumbersPurchaseFromInventoryPostRequest {
	r.xAuthID = &xAuthID
	return r
}

func (r ApiApiV1AccountAuthIdNumbersPurchaseFromInventoryPostRequest) XAuthToken(xAuthToken string) ApiApiV1AccountAuthIdNumbersPurchaseFromInventoryPostRequest {
	r.xAuthToken = &xAuthToken
	return r
}

func (r ApiApiV1AccountAuthIdNumbersPurchaseFromInventoryPostRequest) ContentType(contentType string) ApiApiV1AccountAuthIdNumbersPurchaseFromInventoryPostRequest {
	r.contentType = &contentType
	return r
}

func (r ApiApiV1AccountAuthIdNumbersPurchaseFromInventoryPostRequest) Body(body map[string]interface{}) ApiApiV1AccountAuthIdNumbersPurchaseFromInventoryPostRequest {
	r.body = &body
	return r
}

func (r ApiApiV1AccountAuthIdNumbersPurchaseFromInventoryPostRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiV1AccountAuthIdNumbersPurchaseFromInventoryPostExecute(r)
}

/*
ApiV1AccountAuthIdNumbersPurchaseFromInventoryPost Purchase from Inventory

Purchase a phone number from available inventory.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param authId
 @return ApiApiV1AccountAuthIdNumbersPurchaseFromInventoryPostRequest
*/
func (a *PhoneNumbersAPIService) ApiV1AccountAuthIdNumbersPurchaseFromInventoryPost(ctx context.Context, authId string) ApiApiV1AccountAuthIdNumbersPurchaseFromInventoryPostRequest {
	return ApiApiV1AccountAuthIdNumbersPurchaseFromInventoryPostRequest{
		ApiService: a,
		ctx: ctx,
		authId: authId,
	}
}

// Execute executes the request
func (a *PhoneNumbersAPIService) ApiV1AccountAuthIdNumbersPurchaseFromInventoryPostExecute(r ApiApiV1AccountAuthIdNumbersPurchaseFromInventoryPostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PhoneNumbersAPIService.ApiV1AccountAuthIdNumbersPurchaseFromInventoryPost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/account/{auth_id}/numbers/purchase-from-inventory"
	localVarPath = strings.Replace(localVarPath, "{"+"auth_id"+"}", url.PathEscape(parameterValueToString(r.authId, "authId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAuthID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Auth-ID", r.xAuthID, "simple", "")
	}
	if r.xAuthToken != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Auth-Token", r.xAuthToken, "simple", "")
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	// body params
	localVarPostBody = r.body
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuthID"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-ID"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuthToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
