/*
Vobiz API

Complete Vobiz API collection covering all endpoints: Calls, Conferences, Recordings, Account, Phone Numbers, Applications, Endpoints, Trunks, Sub-Accounts, and CDR.  Base URL: https://api.vobiz.ai  Authentication: All requests require X-Auth-ID and X-Auth-Token headers.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package vobiz

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// SubAccountAPIService SubAccountAPI service
type SubAccountAPIService service

type ApiApiV1AccountsAccountIdSubAccountsGetRequest struct {
	ctx context.Context
	ApiService *SubAccountAPIService
	accountId string
	xAuthID *string
	xAuthToken *string
	contentType *string
	page *int32
	size *int32
	activeOnly *bool
}

func (r ApiApiV1AccountsAccountIdSubAccountsGetRequest) XAuthID(xAuthID string) ApiApiV1AccountsAccountIdSubAccountsGetRequest {
	r.xAuthID = &xAuthID
	return r
}

func (r ApiApiV1AccountsAccountIdSubAccountsGetRequest) XAuthToken(xAuthToken string) ApiApiV1AccountsAccountIdSubAccountsGetRequest {
	r.xAuthToken = &xAuthToken
	return r
}

func (r ApiApiV1AccountsAccountIdSubAccountsGetRequest) ContentType(contentType string) ApiApiV1AccountsAccountIdSubAccountsGetRequest {
	r.contentType = &contentType
	return r
}

// Page number
func (r ApiApiV1AccountsAccountIdSubAccountsGetRequest) Page(page int32) ApiApiV1AccountsAccountIdSubAccountsGetRequest {
	r.page = &page
	return r
}

// Results per page
func (r ApiApiV1AccountsAccountIdSubAccountsGetRequest) Size(size int32) ApiApiV1AccountsAccountIdSubAccountsGetRequest {
	r.size = &size
	return r
}

// Filter active sub-accounts only
func (r ApiApiV1AccountsAccountIdSubAccountsGetRequest) ActiveOnly(activeOnly bool) ApiApiV1AccountsAccountIdSubAccountsGetRequest {
	r.activeOnly = &activeOnly
	return r
}

func (r ApiApiV1AccountsAccountIdSubAccountsGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiV1AccountsAccountIdSubAccountsGetExecute(r)
}

/*
ApiV1AccountsAccountIdSubAccountsGet List All Sub-Accounts

Retrieve all sub-accounts.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accountId
 @return ApiApiV1AccountsAccountIdSubAccountsGetRequest
*/
func (a *SubAccountAPIService) ApiV1AccountsAccountIdSubAccountsGet(ctx context.Context, accountId string) ApiApiV1AccountsAccountIdSubAccountsGetRequest {
	return ApiApiV1AccountsAccountIdSubAccountsGetRequest{
		ApiService: a,
		ctx: ctx,
		accountId: accountId,
	}
}

// Execute executes the request
func (a *SubAccountAPIService) ApiV1AccountsAccountIdSubAccountsGetExecute(r ApiApiV1AccountsAccountIdSubAccountsGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SubAccountAPIService.ApiV1AccountsAccountIdSubAccountsGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/accounts/{account_id}/sub-accounts/"
	localVarPath = strings.Replace(localVarPath, "{"+"account_id"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.size != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", r.size, "form", "")
	}
	if r.activeOnly != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "active_only", r.activeOnly, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAuthID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Auth-ID", r.xAuthID, "simple", "")
	}
	if r.xAuthToken != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Auth-Token", r.xAuthToken, "simple", "")
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuthID"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-ID"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuthToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiApiV1AccountsAccountIdSubAccountsPostRequest struct {
	ctx context.Context
	ApiService *SubAccountAPIService
	accountId string
	xAuthID *string
	xAuthToken *string
	contentType *string
	body *map[string]interface{}
}

func (r ApiApiV1AccountsAccountIdSubAccountsPostRequest) XAuthID(xAuthID string) ApiApiV1AccountsAccountIdSubAccountsPostRequest {
	r.xAuthID = &xAuthID
	return r
}

func (r ApiApiV1AccountsAccountIdSubAccountsPostRequest) XAuthToken(xAuthToken string) ApiApiV1AccountsAccountIdSubAccountsPostRequest {
	r.xAuthToken = &xAuthToken
	return r
}

func (r ApiApiV1AccountsAccountIdSubAccountsPostRequest) ContentType(contentType string) ApiApiV1AccountsAccountIdSubAccountsPostRequest {
	r.contentType = &contentType
	return r
}

func (r ApiApiV1AccountsAccountIdSubAccountsPostRequest) Body(body map[string]interface{}) ApiApiV1AccountsAccountIdSubAccountsPostRequest {
	r.body = &body
	return r
}

func (r ApiApiV1AccountsAccountIdSubAccountsPostRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiV1AccountsAccountIdSubAccountsPostExecute(r)
}

/*
ApiV1AccountsAccountIdSubAccountsPost Create Sub-Account

Create a new sub-account under the master account.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accountId
 @return ApiApiV1AccountsAccountIdSubAccountsPostRequest
*/
func (a *SubAccountAPIService) ApiV1AccountsAccountIdSubAccountsPost(ctx context.Context, accountId string) ApiApiV1AccountsAccountIdSubAccountsPostRequest {
	return ApiApiV1AccountsAccountIdSubAccountsPostRequest{
		ApiService: a,
		ctx: ctx,
		accountId: accountId,
	}
}

// Execute executes the request
func (a *SubAccountAPIService) ApiV1AccountsAccountIdSubAccountsPostExecute(r ApiApiV1AccountsAccountIdSubAccountsPostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SubAccountAPIService.ApiV1AccountsAccountIdSubAccountsPost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/accounts/{account_id}/sub-accounts/"
	localVarPath = strings.Replace(localVarPath, "{"+"account_id"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAuthID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Auth-ID", r.xAuthID, "simple", "")
	}
	if r.xAuthToken != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Auth-Token", r.xAuthToken, "simple", "")
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	// body params
	localVarPostBody = r.body
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuthID"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-ID"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuthToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiApiV1AccountsAccountIdSubAccountsSubAccountIdDeleteRequest struct {
	ctx context.Context
	ApiService *SubAccountAPIService
	accountId string
	xAuthID *string
	xAuthToken *string
	contentType *string
}

func (r ApiApiV1AccountsAccountIdSubAccountsSubAccountIdDeleteRequest) XAuthID(xAuthID string) ApiApiV1AccountsAccountIdSubAccountsSubAccountIdDeleteRequest {
	r.xAuthID = &xAuthID
	return r
}

func (r ApiApiV1AccountsAccountIdSubAccountsSubAccountIdDeleteRequest) XAuthToken(xAuthToken string) ApiApiV1AccountsAccountIdSubAccountsSubAccountIdDeleteRequest {
	r.xAuthToken = &xAuthToken
	return r
}

func (r ApiApiV1AccountsAccountIdSubAccountsSubAccountIdDeleteRequest) ContentType(contentType string) ApiApiV1AccountsAccountIdSubAccountsSubAccountIdDeleteRequest {
	r.contentType = &contentType
	return r
}

func (r ApiApiV1AccountsAccountIdSubAccountsSubAccountIdDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiV1AccountsAccountIdSubAccountsSubAccountIdDeleteExecute(r)
}

/*
ApiV1AccountsAccountIdSubAccountsSubAccountIdDelete Delete a Sub-Account

Delete a sub-account. Returns 204 No Content.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accountId
 @return ApiApiV1AccountsAccountIdSubAccountsSubAccountIdDeleteRequest
*/
func (a *SubAccountAPIService) ApiV1AccountsAccountIdSubAccountsSubAccountIdDelete(ctx context.Context, accountId string) ApiApiV1AccountsAccountIdSubAccountsSubAccountIdDeleteRequest {
	return ApiApiV1AccountsAccountIdSubAccountsSubAccountIdDeleteRequest{
		ApiService: a,
		ctx: ctx,
		accountId: accountId,
	}
}

// Execute executes the request
func (a *SubAccountAPIService) ApiV1AccountsAccountIdSubAccountsSubAccountIdDeleteExecute(r ApiApiV1AccountsAccountIdSubAccountsSubAccountIdDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SubAccountAPIService.ApiV1AccountsAccountIdSubAccountsSubAccountIdDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/accounts/{account_id}/sub-accounts/:sub_account_id"
	localVarPath = strings.Replace(localVarPath, "{"+"account_id"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAuthID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Auth-ID", r.xAuthID, "simple", "")
	}
	if r.xAuthToken != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Auth-Token", r.xAuthToken, "simple", "")
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuthID"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-ID"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuthToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiApiV1AccountsAccountIdSubAccountsSubAccountIdGetRequest struct {
	ctx context.Context
	ApiService *SubAccountAPIService
	accountId string
	xAuthID *string
	xAuthToken *string
	contentType *string
}

func (r ApiApiV1AccountsAccountIdSubAccountsSubAccountIdGetRequest) XAuthID(xAuthID string) ApiApiV1AccountsAccountIdSubAccountsSubAccountIdGetRequest {
	r.xAuthID = &xAuthID
	return r
}

func (r ApiApiV1AccountsAccountIdSubAccountsSubAccountIdGetRequest) XAuthToken(xAuthToken string) ApiApiV1AccountsAccountIdSubAccountsSubAccountIdGetRequest {
	r.xAuthToken = &xAuthToken
	return r
}

func (r ApiApiV1AccountsAccountIdSubAccountsSubAccountIdGetRequest) ContentType(contentType string) ApiApiV1AccountsAccountIdSubAccountsSubAccountIdGetRequest {
	r.contentType = &contentType
	return r
}

func (r ApiApiV1AccountsAccountIdSubAccountsSubAccountIdGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiV1AccountsAccountIdSubAccountsSubAccountIdGetExecute(r)
}

/*
ApiV1AccountsAccountIdSubAccountsSubAccountIdGet Retrieve a Sub-Account

Get details of a specific sub-account.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accountId
 @return ApiApiV1AccountsAccountIdSubAccountsSubAccountIdGetRequest
*/
func (a *SubAccountAPIService) ApiV1AccountsAccountIdSubAccountsSubAccountIdGet(ctx context.Context, accountId string) ApiApiV1AccountsAccountIdSubAccountsSubAccountIdGetRequest {
	return ApiApiV1AccountsAccountIdSubAccountsSubAccountIdGetRequest{
		ApiService: a,
		ctx: ctx,
		accountId: accountId,
	}
}

// Execute executes the request
func (a *SubAccountAPIService) ApiV1AccountsAccountIdSubAccountsSubAccountIdGetExecute(r ApiApiV1AccountsAccountIdSubAccountsSubAccountIdGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SubAccountAPIService.ApiV1AccountsAccountIdSubAccountsSubAccountIdGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/accounts/{account_id}/sub-accounts/:sub_account_id"
	localVarPath = strings.Replace(localVarPath, "{"+"account_id"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAuthID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Auth-ID", r.xAuthID, "simple", "")
	}
	if r.xAuthToken != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Auth-Token", r.xAuthToken, "simple", "")
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuthID"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-ID"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuthToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiApiV1AccountsAccountIdSubAccountsSubAccountIdPutRequest struct {
	ctx context.Context
	ApiService *SubAccountAPIService
	accountId string
	xAuthID *string
	xAuthToken *string
	contentType *string
	body *map[string]interface{}
}

func (r ApiApiV1AccountsAccountIdSubAccountsSubAccountIdPutRequest) XAuthID(xAuthID string) ApiApiV1AccountsAccountIdSubAccountsSubAccountIdPutRequest {
	r.xAuthID = &xAuthID
	return r
}

func (r ApiApiV1AccountsAccountIdSubAccountsSubAccountIdPutRequest) XAuthToken(xAuthToken string) ApiApiV1AccountsAccountIdSubAccountsSubAccountIdPutRequest {
	r.xAuthToken = &xAuthToken
	return r
}

func (r ApiApiV1AccountsAccountIdSubAccountsSubAccountIdPutRequest) ContentType(contentType string) ApiApiV1AccountsAccountIdSubAccountsSubAccountIdPutRequest {
	r.contentType = &contentType
	return r
}

func (r ApiApiV1AccountsAccountIdSubAccountsSubAccountIdPutRequest) Body(body map[string]interface{}) ApiApiV1AccountsAccountIdSubAccountsSubAccountIdPutRequest {
	r.body = &body
	return r
}

func (r ApiApiV1AccountsAccountIdSubAccountsSubAccountIdPutRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiV1AccountsAccountIdSubAccountsSubAccountIdPutExecute(r)
}

/*
ApiV1AccountsAccountIdSubAccountsSubAccountIdPut Update a Sub-Account

Update sub-account settings.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accountId
 @return ApiApiV1AccountsAccountIdSubAccountsSubAccountIdPutRequest
*/
func (a *SubAccountAPIService) ApiV1AccountsAccountIdSubAccountsSubAccountIdPut(ctx context.Context, accountId string) ApiApiV1AccountsAccountIdSubAccountsSubAccountIdPutRequest {
	return ApiApiV1AccountsAccountIdSubAccountsSubAccountIdPutRequest{
		ApiService: a,
		ctx: ctx,
		accountId: accountId,
	}
}

// Execute executes the request
func (a *SubAccountAPIService) ApiV1AccountsAccountIdSubAccountsSubAccountIdPutExecute(r ApiApiV1AccountsAccountIdSubAccountsSubAccountIdPutRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SubAccountAPIService.ApiV1AccountsAccountIdSubAccountsSubAccountIdPut")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/accounts/{account_id}/sub-accounts/:sub_account_id"
	localVarPath = strings.Replace(localVarPath, "{"+"account_id"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAuthID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Auth-ID", r.xAuthID, "simple", "")
	}
	if r.xAuthToken != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Auth-Token", r.xAuthToken, "simple", "")
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	// body params
	localVarPostBody = r.body
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuthID"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-ID"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuthToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
