/*
Vobiz API

Complete Vobiz API collection covering all endpoints: Calls, Conferences, Recordings, Account, Phone Numbers, Applications, Endpoints, Trunks, Sub-Accounts, and CDR.  Base URL: https://api.vobiz.ai  Authentication: All requests require X-Auth-ID and X-Auth-Token headers.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package vobiz

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// RecordingAPIService RecordingAPI service
type RecordingAPIService service

type ApiApiV1AccountAccountIdRecordingGetRequest struct {
	ctx context.Context
	ApiService *RecordingAPIService
	accountId string
	xAuthID *string
	xAuthToken *string
	contentType *string
	limit *int32
	offset *int32
	callUuid *string
	recordingType *string
}

func (r ApiApiV1AccountAccountIdRecordingGetRequest) XAuthID(xAuthID string) ApiApiV1AccountAccountIdRecordingGetRequest {
	r.xAuthID = &xAuthID
	return r
}

func (r ApiApiV1AccountAccountIdRecordingGetRequest) XAuthToken(xAuthToken string) ApiApiV1AccountAccountIdRecordingGetRequest {
	r.xAuthToken = &xAuthToken
	return r
}

func (r ApiApiV1AccountAccountIdRecordingGetRequest) ContentType(contentType string) ApiApiV1AccountAccountIdRecordingGetRequest {
	r.contentType = &contentType
	return r
}

// Records per request (default: 20, max: 100)
func (r ApiApiV1AccountAccountIdRecordingGetRequest) Limit(limit int32) ApiApiV1AccountAccountIdRecordingGetRequest {
	r.limit = &limit
	return r
}

// Pagination offset (default: 0)
func (r ApiApiV1AccountAccountIdRecordingGetRequest) Offset(offset int32) ApiApiV1AccountAccountIdRecordingGetRequest {
	r.offset = &offset
	return r
}

// Filter by specific call UUID
func (r ApiApiV1AccountAccountIdRecordingGetRequest) CallUuid(callUuid string) ApiApiV1AccountAccountIdRecordingGetRequest {
	r.callUuid = &callUuid
	return r
}

// Filter by type: trunk or extension
func (r ApiApiV1AccountAccountIdRecordingGetRequest) RecordingType(recordingType string) ApiApiV1AccountAccountIdRecordingGetRequest {
	r.recordingType = &recordingType
	return r
}

func (r ApiApiV1AccountAccountIdRecordingGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiV1AccountAccountIdRecordingGetExecute(r)
}

/*
ApiV1AccountAccountIdRecordingGet List All Recordings

Retrieve a paginated list of call recordings for your account.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accountId
 @return ApiApiV1AccountAccountIdRecordingGetRequest
*/
func (a *RecordingAPIService) ApiV1AccountAccountIdRecordingGet(ctx context.Context, accountId string) ApiApiV1AccountAccountIdRecordingGetRequest {
	return ApiApiV1AccountAccountIdRecordingGetRequest{
		ApiService: a,
		ctx: ctx,
		accountId: accountId,
	}
}

// Execute executes the request
func (a *RecordingAPIService) ApiV1AccountAccountIdRecordingGetExecute(r ApiApiV1AccountAccountIdRecordingGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RecordingAPIService.ApiV1AccountAccountIdRecordingGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/Account/{account_id}/Recording/"
	localVarPath = strings.Replace(localVarPath, "{"+"account_id"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.callUuid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "call_uuid", r.callUuid, "form", "")
	}
	if r.recordingType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "recording_type", r.recordingType, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAuthID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Auth-ID", r.xAuthID, "simple", "")
	}
	if r.xAuthToken != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Auth-Token", r.xAuthToken, "simple", "")
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuthID"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-ID"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuthToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiApiV1AccountAuthIdExportRecordingPostRequest struct {
	ctx context.Context
	ApiService *RecordingAPIService
	authId string
	xAuthID *string
	xAuthToken *string
	contentType *string
	body *map[string]interface{}
}

func (r ApiApiV1AccountAuthIdExportRecordingPostRequest) XAuthID(xAuthID string) ApiApiV1AccountAuthIdExportRecordingPostRequest {
	r.xAuthID = &xAuthID
	return r
}

func (r ApiApiV1AccountAuthIdExportRecordingPostRequest) XAuthToken(xAuthToken string) ApiApiV1AccountAuthIdExportRecordingPostRequest {
	r.xAuthToken = &xAuthToken
	return r
}

func (r ApiApiV1AccountAuthIdExportRecordingPostRequest) ContentType(contentType string) ApiApiV1AccountAuthIdExportRecordingPostRequest {
	r.contentType = &contentType
	return r
}

func (r ApiApiV1AccountAuthIdExportRecordingPostRequest) Body(body map[string]interface{}) ApiApiV1AccountAuthIdExportRecordingPostRequest {
	r.body = &body
	return r
}

func (r ApiApiV1AccountAuthIdExportRecordingPostRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiV1AccountAuthIdExportRecordingPostExecute(r)
}

/*
ApiV1AccountAuthIdExportRecordingPost Export Historical Recordings

Export recordings as a downloadable archive sent via email (async). Returns 202 Accepted.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param authId
 @return ApiApiV1AccountAuthIdExportRecordingPostRequest
*/
func (a *RecordingAPIService) ApiV1AccountAuthIdExportRecordingPost(ctx context.Context, authId string) ApiApiV1AccountAuthIdExportRecordingPostRequest {
	return ApiApiV1AccountAuthIdExportRecordingPostRequest{
		ApiService: a,
		ctx: ctx,
		authId: authId,
	}
}

// Execute executes the request
func (a *RecordingAPIService) ApiV1AccountAuthIdExportRecordingPostExecute(r ApiApiV1AccountAuthIdExportRecordingPostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RecordingAPIService.ApiV1AccountAuthIdExportRecordingPost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/Account/{auth_id}/export/recording/"
	localVarPath = strings.Replace(localVarPath, "{"+"auth_id"+"}", url.PathEscape(parameterValueToString(r.authId, "authId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAuthID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Auth-ID", r.xAuthID, "simple", "")
	}
	if r.xAuthToken != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Auth-Token", r.xAuthToken, "simple", "")
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	// body params
	localVarPostBody = r.body
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuthID"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-ID"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuthToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiApiV1AccountAuthIdRecordingBulkDeleteDeleteRequest struct {
	ctx context.Context
	ApiService *RecordingAPIService
	authId string
	xAuthID *string
	xAuthToken *string
	contentType *string
	addTimeGte *string
	addTimeLte *string
	callUuid *string
	fromNumber *string
	toNumber *string
	recordingFormat *string
}

func (r ApiApiV1AccountAuthIdRecordingBulkDeleteDeleteRequest) XAuthID(xAuthID string) ApiApiV1AccountAuthIdRecordingBulkDeleteDeleteRequest {
	r.xAuthID = &xAuthID
	return r
}

func (r ApiApiV1AccountAuthIdRecordingBulkDeleteDeleteRequest) XAuthToken(xAuthToken string) ApiApiV1AccountAuthIdRecordingBulkDeleteDeleteRequest {
	r.xAuthToken = &xAuthToken
	return r
}

func (r ApiApiV1AccountAuthIdRecordingBulkDeleteDeleteRequest) ContentType(contentType string) ApiApiV1AccountAuthIdRecordingBulkDeleteDeleteRequest {
	r.contentType = &contentType
	return r
}

// Delete recordings on/after this date (YYYY-MM-DD HH:MM:SS)
func (r ApiApiV1AccountAuthIdRecordingBulkDeleteDeleteRequest) AddTimeGte(addTimeGte string) ApiApiV1AccountAuthIdRecordingBulkDeleteDeleteRequest {
	r.addTimeGte = &addTimeGte
	return r
}

// Delete recordings on/before this date
func (r ApiApiV1AccountAuthIdRecordingBulkDeleteDeleteRequest) AddTimeLte(addTimeLte string) ApiApiV1AccountAuthIdRecordingBulkDeleteDeleteRequest {
	r.addTimeLte = &addTimeLte
	return r
}

// Delete recordings for specific call UUID
func (r ApiApiV1AccountAuthIdRecordingBulkDeleteDeleteRequest) CallUuid(callUuid string) ApiApiV1AccountAuthIdRecordingBulkDeleteDeleteRequest {
	r.callUuid = &callUuid
	return r
}

// Delete by caller number (partial match)
func (r ApiApiV1AccountAuthIdRecordingBulkDeleteDeleteRequest) FromNumber(fromNumber string) ApiApiV1AccountAuthIdRecordingBulkDeleteDeleteRequest {
	r.fromNumber = &fromNumber
	return r
}

// Delete by destination number (partial match)
func (r ApiApiV1AccountAuthIdRecordingBulkDeleteDeleteRequest) ToNumber(toNumber string) ApiApiV1AccountAuthIdRecordingBulkDeleteDeleteRequest {
	r.toNumber = &toNumber
	return r
}

// mp3 or wav
func (r ApiApiV1AccountAuthIdRecordingBulkDeleteDeleteRequest) RecordingFormat(recordingFormat string) ApiApiV1AccountAuthIdRecordingBulkDeleteDeleteRequest {
	r.recordingFormat = &recordingFormat
	return r
}

func (r ApiApiV1AccountAuthIdRecordingBulkDeleteDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiV1AccountAuthIdRecordingBulkDeleteDeleteExecute(r)
}

/*
ApiV1AccountAuthIdRecordingBulkDeleteDelete Bulk Delete Recordings

Delete multiple recordings matching filter criteria (async operation). Returns 202 Accepted.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param authId
 @return ApiApiV1AccountAuthIdRecordingBulkDeleteDeleteRequest
*/
func (a *RecordingAPIService) ApiV1AccountAuthIdRecordingBulkDeleteDelete(ctx context.Context, authId string) ApiApiV1AccountAuthIdRecordingBulkDeleteDeleteRequest {
	return ApiApiV1AccountAuthIdRecordingBulkDeleteDeleteRequest{
		ApiService: a,
		ctx: ctx,
		authId: authId,
	}
}

// Execute executes the request
func (a *RecordingAPIService) ApiV1AccountAuthIdRecordingBulkDeleteDeleteExecute(r ApiApiV1AccountAuthIdRecordingBulkDeleteDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RecordingAPIService.ApiV1AccountAuthIdRecordingBulkDeleteDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/Account/{auth_id}/Recording/BulkDelete/"
	localVarPath = strings.Replace(localVarPath, "{"+"auth_id"+"}", url.PathEscape(parameterValueToString(r.authId, "authId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.addTimeGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "add_time__gte", r.addTimeGte, "form", "")
	}
	if r.addTimeLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "add_time__lte", r.addTimeLte, "form", "")
	}
	if r.callUuid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "call_uuid", r.callUuid, "form", "")
	}
	if r.fromNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from_number", r.fromNumber, "form", "")
	}
	if r.toNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "to_number", r.toNumber, "form", "")
	}
	if r.recordingFormat != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "recording_format", r.recordingFormat, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAuthID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Auth-ID", r.xAuthID, "simple", "")
	}
	if r.xAuthToken != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Auth-Token", r.xAuthToken, "simple", "")
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuthID"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-ID"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuthToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiApiV1AccountAuthIdRecordingDeleteRequest struct {
	ctx context.Context
	ApiService *RecordingAPIService
	authId string
	xAuthID *string
	xAuthToken *string
	contentType *string
}

func (r ApiApiV1AccountAuthIdRecordingDeleteRequest) XAuthID(xAuthID string) ApiApiV1AccountAuthIdRecordingDeleteRequest {
	r.xAuthID = &xAuthID
	return r
}

func (r ApiApiV1AccountAuthIdRecordingDeleteRequest) XAuthToken(xAuthToken string) ApiApiV1AccountAuthIdRecordingDeleteRequest {
	r.xAuthToken = &xAuthToken
	return r
}

func (r ApiApiV1AccountAuthIdRecordingDeleteRequest) ContentType(contentType string) ApiApiV1AccountAuthIdRecordingDeleteRequest {
	r.contentType = &contentType
	return r
}

func (r ApiApiV1AccountAuthIdRecordingDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiV1AccountAuthIdRecordingDeleteExecute(r)
}

/*
ApiV1AccountAuthIdRecordingDelete Delete a Recording

Permanently delete a specific recording. Returns 204 No Content.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param authId
 @return ApiApiV1AccountAuthIdRecordingDeleteRequest
*/
func (a *RecordingAPIService) ApiV1AccountAuthIdRecordingDelete(ctx context.Context, authId string) ApiApiV1AccountAuthIdRecordingDeleteRequest {
	return ApiApiV1AccountAuthIdRecordingDeleteRequest{
		ApiService: a,
		ctx: ctx,
		authId: authId,
	}
}

// Execute executes the request
func (a *RecordingAPIService) ApiV1AccountAuthIdRecordingDeleteExecute(r ApiApiV1AccountAuthIdRecordingDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RecordingAPIService.ApiV1AccountAuthIdRecordingDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/Account/{auth_id}/Recording/{}/"
	localVarPath = strings.Replace(localVarPath, "{"+"auth_id"+"}", url.PathEscape(parameterValueToString(r.authId, "authId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAuthID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Auth-ID", r.xAuthID, "simple", "")
	}
	if r.xAuthToken != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Auth-Token", r.xAuthToken, "simple", "")
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuthID"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-ID"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuthToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiApiV1AccountAuthIdRecordingGetRequest struct {
	ctx context.Context
	ApiService *RecordingAPIService
	authId string
	xAuthID *string
	xAuthToken *string
	contentType *string
}

func (r ApiApiV1AccountAuthIdRecordingGetRequest) XAuthID(xAuthID string) ApiApiV1AccountAuthIdRecordingGetRequest {
	r.xAuthID = &xAuthID
	return r
}

func (r ApiApiV1AccountAuthIdRecordingGetRequest) XAuthToken(xAuthToken string) ApiApiV1AccountAuthIdRecordingGetRequest {
	r.xAuthToken = &xAuthToken
	return r
}

func (r ApiApiV1AccountAuthIdRecordingGetRequest) ContentType(contentType string) ApiApiV1AccountAuthIdRecordingGetRequest {
	r.contentType = &contentType
	return r
}

func (r ApiApiV1AccountAuthIdRecordingGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiV1AccountAuthIdRecordingGetExecute(r)
}

/*
ApiV1AccountAuthIdRecordingGet Retrieve a Recording

Get detailed information about a specific recording.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param authId
 @return ApiApiV1AccountAuthIdRecordingGetRequest
*/
func (a *RecordingAPIService) ApiV1AccountAuthIdRecordingGet(ctx context.Context, authId string) ApiApiV1AccountAuthIdRecordingGetRequest {
	return ApiApiV1AccountAuthIdRecordingGetRequest{
		ApiService: a,
		ctx: ctx,
		authId: authId,
	}
}

// Execute executes the request
func (a *RecordingAPIService) ApiV1AccountAuthIdRecordingGetExecute(r ApiApiV1AccountAuthIdRecordingGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RecordingAPIService.ApiV1AccountAuthIdRecordingGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/Account/{auth_id}/Recording/{}/"
	localVarPath = strings.Replace(localVarPath, "{"+"auth_id"+"}", url.PathEscape(parameterValueToString(r.authId, "authId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAuthID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Auth-ID", r.xAuthID, "simple", "")
	}
	if r.xAuthToken != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Auth-Token", r.xAuthToken, "simple", "")
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuthID"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-ID"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuthToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
