/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.vobiz.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl


import com.squareup.moshi.Json

import ai.vobiz.infrastructure.ApiClient
import ai.vobiz.infrastructure.ApiResponse
import ai.vobiz.infrastructure.ClientException
import ai.vobiz.infrastructure.ClientError
import ai.vobiz.infrastructure.ServerException
import ai.vobiz.infrastructure.ServerError
import ai.vobiz.infrastructure.MultiValueMap
import ai.vobiz.infrastructure.PartConfig
import ai.vobiz.infrastructure.RequestConfig
import ai.vobiz.infrastructure.RequestMethod
import ai.vobiz.infrastructure.ResponseType
import ai.vobiz.infrastructure.Success
import ai.vobiz.infrastructure.toMultiValue

open class PhoneNumbersApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.vobiz.ai")
        }
    }

    /**
     * GET /api/v1/account/{auth_id}/inventory/numbers
     * List Inventory Numbers
     * Browse available phone numbers in inventory for purchase.
     * @param authId 
     * @param xAuthID  (optional)
     * @param xAuthToken  (optional)
     * @param contentType  (optional)
     * @param country Filter by country code (optional)
     * @param page Page number (optional)
     * @param perPage Results per page (optional)
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun apiV1AccountAuthIdInventoryNumbersGet(authId: kotlin.String, xAuthID: kotlin.String? = null, xAuthToken: kotlin.String? = null, contentType: kotlin.String? = null, country: kotlin.String? = null, page: kotlin.Int? = null, perPage: kotlin.Int? = null) : Unit {
        val localVarResponse = apiV1AccountAuthIdInventoryNumbersGetWithHttpInfo(authId = authId, xAuthID = xAuthID, xAuthToken = xAuthToken, contentType = contentType, country = country, page = page, perPage = perPage)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/account/{auth_id}/inventory/numbers
     * List Inventory Numbers
     * Browse available phone numbers in inventory for purchase.
     * @param authId 
     * @param xAuthID  (optional)
     * @param xAuthToken  (optional)
     * @param contentType  (optional)
     * @param country Filter by country code (optional)
     * @param page Page number (optional)
     * @param perPage Results per page (optional)
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun apiV1AccountAuthIdInventoryNumbersGetWithHttpInfo(authId: kotlin.String, xAuthID: kotlin.String?, xAuthToken: kotlin.String?, contentType: kotlin.String?, country: kotlin.String?, page: kotlin.Int?, perPage: kotlin.Int?) : ApiResponse<Unit?> {
        val localVariableConfig = apiV1AccountAuthIdInventoryNumbersGetRequestConfig(authId = authId, xAuthID = xAuthID, xAuthToken = xAuthToken, contentType = contentType, country = country, page = page, perPage = perPage)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation apiV1AccountAuthIdInventoryNumbersGet
     *
     * @param authId 
     * @param xAuthID  (optional)
     * @param xAuthToken  (optional)
     * @param contentType  (optional)
     * @param country Filter by country code (optional)
     * @param page Page number (optional)
     * @param perPage Results per page (optional)
     * @return RequestConfig
     */
    fun apiV1AccountAuthIdInventoryNumbersGetRequestConfig(authId: kotlin.String, xAuthID: kotlin.String?, xAuthToken: kotlin.String?, contentType: kotlin.String?, country: kotlin.String?, page: kotlin.Int?, perPage: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (country != null) {
                    put("country", listOf(country.toString()))
                }
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (perPage != null) {
                    put("per_page", listOf(perPage.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xAuthID?.apply { localVariableHeaders["X-Auth-ID"] = this.toString() }
        xAuthToken?.apply { localVariableHeaders["X-Auth-Token"] = this.toString() }
        contentType?.apply { localVariableHeaders["Content-Type"] = this.toString() }
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/account/{auth_id}/inventory/numbers".replace("{"+"auth_id"+"}", encodeURIComponent(authId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /api/v1/account/{auth_id}/numbers/:e164_number
     * Unrent a Phone Number
     * Release (unrent) a phone number from your account.
     * @param authId 
     * @param xAuthID  (optional)
     * @param xAuthToken  (optional)
     * @param contentType  (optional)
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun apiV1AccountAuthIdNumbersE164NumberDelete(authId: kotlin.String, xAuthID: kotlin.String? = null, xAuthToken: kotlin.String? = null, contentType: kotlin.String? = null) : Unit {
        val localVarResponse = apiV1AccountAuthIdNumbersE164NumberDeleteWithHttpInfo(authId = authId, xAuthID = xAuthID, xAuthToken = xAuthToken, contentType = contentType)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /api/v1/account/{auth_id}/numbers/:e164_number
     * Unrent a Phone Number
     * Release (unrent) a phone number from your account.
     * @param authId 
     * @param xAuthID  (optional)
     * @param xAuthToken  (optional)
     * @param contentType  (optional)
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun apiV1AccountAuthIdNumbersE164NumberDeleteWithHttpInfo(authId: kotlin.String, xAuthID: kotlin.String?, xAuthToken: kotlin.String?, contentType: kotlin.String?) : ApiResponse<Unit?> {
        val localVariableConfig = apiV1AccountAuthIdNumbersE164NumberDeleteRequestConfig(authId = authId, xAuthID = xAuthID, xAuthToken = xAuthToken, contentType = contentType)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation apiV1AccountAuthIdNumbersE164NumberDelete
     *
     * @param authId 
     * @param xAuthID  (optional)
     * @param xAuthToken  (optional)
     * @param contentType  (optional)
     * @return RequestConfig
     */
    fun apiV1AccountAuthIdNumbersE164NumberDeleteRequestConfig(authId: kotlin.String, xAuthID: kotlin.String?, xAuthToken: kotlin.String?, contentType: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xAuthID?.apply { localVariableHeaders["X-Auth-ID"] = this.toString() }
        xAuthToken?.apply { localVariableHeaders["X-Auth-Token"] = this.toString() }
        contentType?.apply { localVariableHeaders["Content-Type"] = this.toString() }
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/api/v1/account/{auth_id}/numbers/:e164_number".replace("{"+"auth_id"+"}", encodeURIComponent(authId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/v1/account/{auth_id}/numbers
     * List Account Phone Numbers
     * Retrieve all phone numbers associated with your account.
     * @param authId 
     * @param xAuthID  (optional)
     * @param xAuthToken  (optional)
     * @param contentType  (optional)
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun apiV1AccountAuthIdNumbersGet(authId: kotlin.String, xAuthID: kotlin.String? = null, xAuthToken: kotlin.String? = null, contentType: kotlin.String? = null) : Unit {
        val localVarResponse = apiV1AccountAuthIdNumbersGetWithHttpInfo(authId = authId, xAuthID = xAuthID, xAuthToken = xAuthToken, contentType = contentType)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/account/{auth_id}/numbers
     * List Account Phone Numbers
     * Retrieve all phone numbers associated with your account.
     * @param authId 
     * @param xAuthID  (optional)
     * @param xAuthToken  (optional)
     * @param contentType  (optional)
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun apiV1AccountAuthIdNumbersGetWithHttpInfo(authId: kotlin.String, xAuthID: kotlin.String?, xAuthToken: kotlin.String?, contentType: kotlin.String?) : ApiResponse<Unit?> {
        val localVariableConfig = apiV1AccountAuthIdNumbersGetRequestConfig(authId = authId, xAuthID = xAuthID, xAuthToken = xAuthToken, contentType = contentType)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation apiV1AccountAuthIdNumbersGet
     *
     * @param authId 
     * @param xAuthID  (optional)
     * @param xAuthToken  (optional)
     * @param contentType  (optional)
     * @return RequestConfig
     */
    fun apiV1AccountAuthIdNumbersGetRequestConfig(authId: kotlin.String, xAuthID: kotlin.String?, xAuthToken: kotlin.String?, contentType: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xAuthID?.apply { localVariableHeaders["X-Auth-ID"] = this.toString() }
        xAuthToken?.apply { localVariableHeaders["X-Auth-Token"] = this.toString() }
        contentType?.apply { localVariableHeaders["Content-Type"] = this.toString() }
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/account/{auth_id}/numbers".replace("{"+"auth_id"+"}", encodeURIComponent(authId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /api/v1/account/{auth_id}/numbers/purchase-from-inventory
     * Purchase from Inventory
     * Purchase a phone number from available inventory.
     * @param authId 
     * @param xAuthID  (optional)
     * @param xAuthToken  (optional)
     * @param contentType  (optional)
     * @param body  (optional)
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun apiV1AccountAuthIdNumbersPurchaseFromInventoryPost(authId: kotlin.String, xAuthID: kotlin.String? = null, xAuthToken: kotlin.String? = null, contentType: kotlin.String? = null, body: kotlin.Any? = null) : Unit {
        val localVarResponse = apiV1AccountAuthIdNumbersPurchaseFromInventoryPostWithHttpInfo(authId = authId, xAuthID = xAuthID, xAuthToken = xAuthToken, contentType = contentType, body = body)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /api/v1/account/{auth_id}/numbers/purchase-from-inventory
     * Purchase from Inventory
     * Purchase a phone number from available inventory.
     * @param authId 
     * @param xAuthID  (optional)
     * @param xAuthToken  (optional)
     * @param contentType  (optional)
     * @param body  (optional)
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun apiV1AccountAuthIdNumbersPurchaseFromInventoryPostWithHttpInfo(authId: kotlin.String, xAuthID: kotlin.String?, xAuthToken: kotlin.String?, contentType: kotlin.String?, body: kotlin.Any?) : ApiResponse<Unit?> {
        val localVariableConfig = apiV1AccountAuthIdNumbersPurchaseFromInventoryPostRequestConfig(authId = authId, xAuthID = xAuthID, xAuthToken = xAuthToken, contentType = contentType, body = body)

        return request<kotlin.Any, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation apiV1AccountAuthIdNumbersPurchaseFromInventoryPost
     *
     * @param authId 
     * @param xAuthID  (optional)
     * @param xAuthToken  (optional)
     * @param contentType  (optional)
     * @param body  (optional)
     * @return RequestConfig
     */
    fun apiV1AccountAuthIdNumbersPurchaseFromInventoryPostRequestConfig(authId: kotlin.String, xAuthID: kotlin.String?, xAuthToken: kotlin.String?, contentType: kotlin.String?, body: kotlin.Any?) : RequestConfig<kotlin.Any> {
        val localVariableBody = body
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xAuthID?.apply { localVariableHeaders["X-Auth-ID"] = this.toString() }
        xAuthToken?.apply { localVariableHeaders["X-Auth-Token"] = this.toString() }
        contentType?.apply { localVariableHeaders["Content-Type"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v1/account/{auth_id}/numbers/purchase-from-inventory".replace("{"+"auth_id"+"}", encodeURIComponent(authId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
