/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.vobiz.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl


import com.squareup.moshi.Json

import ai.vobiz.infrastructure.ApiClient
import ai.vobiz.infrastructure.ApiResponse
import ai.vobiz.infrastructure.ClientException
import ai.vobiz.infrastructure.ClientError
import ai.vobiz.infrastructure.ServerException
import ai.vobiz.infrastructure.ServerError
import ai.vobiz.infrastructure.MultiValueMap
import ai.vobiz.infrastructure.PartConfig
import ai.vobiz.infrastructure.RequestConfig
import ai.vobiz.infrastructure.RequestMethod
import ai.vobiz.infrastructure.ResponseType
import ai.vobiz.infrastructure.Success
import ai.vobiz.infrastructure.toMultiValue

open class RecordingApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.vobiz.ai")
        }
    }

    /**
     * GET /api/v1/Account/{account_id}/Recording/
     * List All Recordings
     * Retrieve a paginated list of call recordings for your account.
     * @param accountId 
     * @param xAuthID  (optional)
     * @param xAuthToken  (optional)
     * @param contentType  (optional)
     * @param limit Records per request (default: 20, max: 100) (optional)
     * @param offset Pagination offset (default: 0) (optional)
     * @param callUuid Filter by specific call UUID (optional)
     * @param recordingType Filter by type: trunk or extension (optional)
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun apiV1AccountAccountIdRecordingGet(accountId: kotlin.String, xAuthID: kotlin.String? = null, xAuthToken: kotlin.String? = null, contentType: kotlin.String? = null, limit: kotlin.Int? = null, offset: kotlin.Int? = null, callUuid: kotlin.String? = null, recordingType: kotlin.String? = null) : Unit {
        val localVarResponse = apiV1AccountAccountIdRecordingGetWithHttpInfo(accountId = accountId, xAuthID = xAuthID, xAuthToken = xAuthToken, contentType = contentType, limit = limit, offset = offset, callUuid = callUuid, recordingType = recordingType)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/Account/{account_id}/Recording/
     * List All Recordings
     * Retrieve a paginated list of call recordings for your account.
     * @param accountId 
     * @param xAuthID  (optional)
     * @param xAuthToken  (optional)
     * @param contentType  (optional)
     * @param limit Records per request (default: 20, max: 100) (optional)
     * @param offset Pagination offset (default: 0) (optional)
     * @param callUuid Filter by specific call UUID (optional)
     * @param recordingType Filter by type: trunk or extension (optional)
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun apiV1AccountAccountIdRecordingGetWithHttpInfo(accountId: kotlin.String, xAuthID: kotlin.String?, xAuthToken: kotlin.String?, contentType: kotlin.String?, limit: kotlin.Int?, offset: kotlin.Int?, callUuid: kotlin.String?, recordingType: kotlin.String?) : ApiResponse<Unit?> {
        val localVariableConfig = apiV1AccountAccountIdRecordingGetRequestConfig(accountId = accountId, xAuthID = xAuthID, xAuthToken = xAuthToken, contentType = contentType, limit = limit, offset = offset, callUuid = callUuid, recordingType = recordingType)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation apiV1AccountAccountIdRecordingGet
     *
     * @param accountId 
     * @param xAuthID  (optional)
     * @param xAuthToken  (optional)
     * @param contentType  (optional)
     * @param limit Records per request (default: 20, max: 100) (optional)
     * @param offset Pagination offset (default: 0) (optional)
     * @param callUuid Filter by specific call UUID (optional)
     * @param recordingType Filter by type: trunk or extension (optional)
     * @return RequestConfig
     */
    fun apiV1AccountAccountIdRecordingGetRequestConfig(accountId: kotlin.String, xAuthID: kotlin.String?, xAuthToken: kotlin.String?, contentType: kotlin.String?, limit: kotlin.Int?, offset: kotlin.Int?, callUuid: kotlin.String?, recordingType: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (offset != null) {
                    put("offset", listOf(offset.toString()))
                }
                if (callUuid != null) {
                    put("call_uuid", listOf(callUuid.toString()))
                }
                if (recordingType != null) {
                    put("recording_type", listOf(recordingType.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xAuthID?.apply { localVariableHeaders["X-Auth-ID"] = this.toString() }
        xAuthToken?.apply { localVariableHeaders["X-Auth-Token"] = this.toString() }
        contentType?.apply { localVariableHeaders["Content-Type"] = this.toString() }
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/Account/{account_id}/Recording/".replace("{"+"account_id"+"}", encodeURIComponent(accountId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /api/v1/Account/{auth_id}/export/recording/
     * Export Historical Recordings
     * Export recordings as a downloadable archive sent via email (async). Returns 202 Accepted.
     * @param authId 
     * @param xAuthID  (optional)
     * @param xAuthToken  (optional)
     * @param contentType  (optional)
     * @param body  (optional)
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun apiV1AccountAuthIdExportRecordingPost(authId: kotlin.String, xAuthID: kotlin.String? = null, xAuthToken: kotlin.String? = null, contentType: kotlin.String? = null, body: kotlin.Any? = null) : Unit {
        val localVarResponse = apiV1AccountAuthIdExportRecordingPostWithHttpInfo(authId = authId, xAuthID = xAuthID, xAuthToken = xAuthToken, contentType = contentType, body = body)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /api/v1/Account/{auth_id}/export/recording/
     * Export Historical Recordings
     * Export recordings as a downloadable archive sent via email (async). Returns 202 Accepted.
     * @param authId 
     * @param xAuthID  (optional)
     * @param xAuthToken  (optional)
     * @param contentType  (optional)
     * @param body  (optional)
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun apiV1AccountAuthIdExportRecordingPostWithHttpInfo(authId: kotlin.String, xAuthID: kotlin.String?, xAuthToken: kotlin.String?, contentType: kotlin.String?, body: kotlin.Any?) : ApiResponse<Unit?> {
        val localVariableConfig = apiV1AccountAuthIdExportRecordingPostRequestConfig(authId = authId, xAuthID = xAuthID, xAuthToken = xAuthToken, contentType = contentType, body = body)

        return request<kotlin.Any, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation apiV1AccountAuthIdExportRecordingPost
     *
     * @param authId 
     * @param xAuthID  (optional)
     * @param xAuthToken  (optional)
     * @param contentType  (optional)
     * @param body  (optional)
     * @return RequestConfig
     */
    fun apiV1AccountAuthIdExportRecordingPostRequestConfig(authId: kotlin.String, xAuthID: kotlin.String?, xAuthToken: kotlin.String?, contentType: kotlin.String?, body: kotlin.Any?) : RequestConfig<kotlin.Any> {
        val localVariableBody = body
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xAuthID?.apply { localVariableHeaders["X-Auth-ID"] = this.toString() }
        xAuthToken?.apply { localVariableHeaders["X-Auth-Token"] = this.toString() }
        contentType?.apply { localVariableHeaders["Content-Type"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v1/Account/{auth_id}/export/recording/".replace("{"+"auth_id"+"}", encodeURIComponent(authId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /api/v1/Account/{auth_id}/Recording/BulkDelete/
     * Bulk Delete Recordings
     * Delete multiple recordings matching filter criteria (async operation). Returns 202 Accepted.
     * @param authId 
     * @param xAuthID  (optional)
     * @param xAuthToken  (optional)
     * @param contentType  (optional)
     * @param addTimeGte Delete recordings on/after this date (YYYY-MM-DD HH:MM:SS) (optional)
     * @param addTimeLte Delete recordings on/before this date (optional)
     * @param callUuid Delete recordings for specific call UUID (optional)
     * @param fromNumber Delete by caller number (partial match) (optional)
     * @param toNumber Delete by destination number (partial match) (optional)
     * @param recordingFormat mp3 or wav (optional)
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun apiV1AccountAuthIdRecordingBulkDeleteDelete(authId: kotlin.String, xAuthID: kotlin.String? = null, xAuthToken: kotlin.String? = null, contentType: kotlin.String? = null, addTimeGte: kotlin.String? = null, addTimeLte: kotlin.String? = null, callUuid: kotlin.String? = null, fromNumber: kotlin.String? = null, toNumber: kotlin.String? = null, recordingFormat: kotlin.String? = null) : Unit {
        val localVarResponse = apiV1AccountAuthIdRecordingBulkDeleteDeleteWithHttpInfo(authId = authId, xAuthID = xAuthID, xAuthToken = xAuthToken, contentType = contentType, addTimeGte = addTimeGte, addTimeLte = addTimeLte, callUuid = callUuid, fromNumber = fromNumber, toNumber = toNumber, recordingFormat = recordingFormat)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /api/v1/Account/{auth_id}/Recording/BulkDelete/
     * Bulk Delete Recordings
     * Delete multiple recordings matching filter criteria (async operation). Returns 202 Accepted.
     * @param authId 
     * @param xAuthID  (optional)
     * @param xAuthToken  (optional)
     * @param contentType  (optional)
     * @param addTimeGte Delete recordings on/after this date (YYYY-MM-DD HH:MM:SS) (optional)
     * @param addTimeLte Delete recordings on/before this date (optional)
     * @param callUuid Delete recordings for specific call UUID (optional)
     * @param fromNumber Delete by caller number (partial match) (optional)
     * @param toNumber Delete by destination number (partial match) (optional)
     * @param recordingFormat mp3 or wav (optional)
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun apiV1AccountAuthIdRecordingBulkDeleteDeleteWithHttpInfo(authId: kotlin.String, xAuthID: kotlin.String?, xAuthToken: kotlin.String?, contentType: kotlin.String?, addTimeGte: kotlin.String?, addTimeLte: kotlin.String?, callUuid: kotlin.String?, fromNumber: kotlin.String?, toNumber: kotlin.String?, recordingFormat: kotlin.String?) : ApiResponse<Unit?> {
        val localVariableConfig = apiV1AccountAuthIdRecordingBulkDeleteDeleteRequestConfig(authId = authId, xAuthID = xAuthID, xAuthToken = xAuthToken, contentType = contentType, addTimeGte = addTimeGte, addTimeLte = addTimeLte, callUuid = callUuid, fromNumber = fromNumber, toNumber = toNumber, recordingFormat = recordingFormat)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation apiV1AccountAuthIdRecordingBulkDeleteDelete
     *
     * @param authId 
     * @param xAuthID  (optional)
     * @param xAuthToken  (optional)
     * @param contentType  (optional)
     * @param addTimeGte Delete recordings on/after this date (YYYY-MM-DD HH:MM:SS) (optional)
     * @param addTimeLte Delete recordings on/before this date (optional)
     * @param callUuid Delete recordings for specific call UUID (optional)
     * @param fromNumber Delete by caller number (partial match) (optional)
     * @param toNumber Delete by destination number (partial match) (optional)
     * @param recordingFormat mp3 or wav (optional)
     * @return RequestConfig
     */
    fun apiV1AccountAuthIdRecordingBulkDeleteDeleteRequestConfig(authId: kotlin.String, xAuthID: kotlin.String?, xAuthToken: kotlin.String?, contentType: kotlin.String?, addTimeGte: kotlin.String?, addTimeLte: kotlin.String?, callUuid: kotlin.String?, fromNumber: kotlin.String?, toNumber: kotlin.String?, recordingFormat: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (addTimeGte != null) {
                    put("add_time__gte", listOf(addTimeGte.toString()))
                }
                if (addTimeLte != null) {
                    put("add_time__lte", listOf(addTimeLte.toString()))
                }
                if (callUuid != null) {
                    put("call_uuid", listOf(callUuid.toString()))
                }
                if (fromNumber != null) {
                    put("from_number", listOf(fromNumber.toString()))
                }
                if (toNumber != null) {
                    put("to_number", listOf(toNumber.toString()))
                }
                if (recordingFormat != null) {
                    put("recording_format", listOf(recordingFormat.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xAuthID?.apply { localVariableHeaders["X-Auth-ID"] = this.toString() }
        xAuthToken?.apply { localVariableHeaders["X-Auth-Token"] = this.toString() }
        contentType?.apply { localVariableHeaders["Content-Type"] = this.toString() }
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/api/v1/Account/{auth_id}/Recording/BulkDelete/".replace("{"+"auth_id"+"}", encodeURIComponent(authId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /api/v1/Account/{auth_id}/Recording/{}/
     * Delete a Recording
     * Permanently delete a specific recording. Returns 204 No Content.
     * @param authId 
     * @param xAuthID  (optional)
     * @param xAuthToken  (optional)
     * @param contentType  (optional)
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun apiV1AccountAuthIdRecordingDelete(authId: kotlin.String, xAuthID: kotlin.String? = null, xAuthToken: kotlin.String? = null, contentType: kotlin.String? = null) : Unit {
        val localVarResponse = apiV1AccountAuthIdRecordingDeleteWithHttpInfo(authId = authId, xAuthID = xAuthID, xAuthToken = xAuthToken, contentType = contentType)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /api/v1/Account/{auth_id}/Recording/{}/
     * Delete a Recording
     * Permanently delete a specific recording. Returns 204 No Content.
     * @param authId 
     * @param xAuthID  (optional)
     * @param xAuthToken  (optional)
     * @param contentType  (optional)
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun apiV1AccountAuthIdRecordingDeleteWithHttpInfo(authId: kotlin.String, xAuthID: kotlin.String?, xAuthToken: kotlin.String?, contentType: kotlin.String?) : ApiResponse<Unit?> {
        val localVariableConfig = apiV1AccountAuthIdRecordingDeleteRequestConfig(authId = authId, xAuthID = xAuthID, xAuthToken = xAuthToken, contentType = contentType)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation apiV1AccountAuthIdRecordingDelete
     *
     * @param authId 
     * @param xAuthID  (optional)
     * @param xAuthToken  (optional)
     * @param contentType  (optional)
     * @return RequestConfig
     */
    fun apiV1AccountAuthIdRecordingDeleteRequestConfig(authId: kotlin.String, xAuthID: kotlin.String?, xAuthToken: kotlin.String?, contentType: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xAuthID?.apply { localVariableHeaders["X-Auth-ID"] = this.toString() }
        xAuthToken?.apply { localVariableHeaders["X-Auth-Token"] = this.toString() }
        contentType?.apply { localVariableHeaders["Content-Type"] = this.toString() }
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/api/v1/Account/{auth_id}/Recording/{}/".replace("{"+"auth_id"+"}", encodeURIComponent(authId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/v1/Account/{auth_id}/Recording/{}/
     * Retrieve a Recording
     * Get detailed information about a specific recording.
     * @param authId 
     * @param xAuthID  (optional)
     * @param xAuthToken  (optional)
     * @param contentType  (optional)
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun apiV1AccountAuthIdRecordingGet(authId: kotlin.String, xAuthID: kotlin.String? = null, xAuthToken: kotlin.String? = null, contentType: kotlin.String? = null) : Unit {
        val localVarResponse = apiV1AccountAuthIdRecordingGetWithHttpInfo(authId = authId, xAuthID = xAuthID, xAuthToken = xAuthToken, contentType = contentType)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/Account/{auth_id}/Recording/{}/
     * Retrieve a Recording
     * Get detailed information about a specific recording.
     * @param authId 
     * @param xAuthID  (optional)
     * @param xAuthToken  (optional)
     * @param contentType  (optional)
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun apiV1AccountAuthIdRecordingGetWithHttpInfo(authId: kotlin.String, xAuthID: kotlin.String?, xAuthToken: kotlin.String?, contentType: kotlin.String?) : ApiResponse<Unit?> {
        val localVariableConfig = apiV1AccountAuthIdRecordingGetRequestConfig(authId = authId, xAuthID = xAuthID, xAuthToken = xAuthToken, contentType = contentType)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation apiV1AccountAuthIdRecordingGet
     *
     * @param authId 
     * @param xAuthID  (optional)
     * @param xAuthToken  (optional)
     * @param contentType  (optional)
     * @return RequestConfig
     */
    fun apiV1AccountAuthIdRecordingGetRequestConfig(authId: kotlin.String, xAuthID: kotlin.String?, xAuthToken: kotlin.String?, contentType: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xAuthID?.apply { localVariableHeaders["X-Auth-ID"] = this.toString() }
        xAuthToken?.apply { localVariableHeaders["X-Auth-Token"] = this.toString() }
        contentType?.apply { localVariableHeaders["Content-Type"] = this.toString() }
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/Account/{auth_id}/Recording/{}/".replace("{"+"auth_id"+"}", encodeURIComponent(authId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
