/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.vobiz.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl


import com.squareup.moshi.Json

import ai.vobiz.infrastructure.ApiClient
import ai.vobiz.infrastructure.ApiResponse
import ai.vobiz.infrastructure.ClientException
import ai.vobiz.infrastructure.ClientError
import ai.vobiz.infrastructure.ServerException
import ai.vobiz.infrastructure.ServerError
import ai.vobiz.infrastructure.MultiValueMap
import ai.vobiz.infrastructure.PartConfig
import ai.vobiz.infrastructure.RequestConfig
import ai.vobiz.infrastructure.RequestMethod
import ai.vobiz.infrastructure.ResponseType
import ai.vobiz.infrastructure.Success
import ai.vobiz.infrastructure.toMultiValue

open class SubAccountApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.vobiz.ai")
        }
    }

    /**
     * GET /api/v1/accounts/{account_id}/sub-accounts/
     * List All Sub-Accounts
     * Retrieve all sub-accounts.
     * @param accountId 
     * @param xAuthID  (optional)
     * @param xAuthToken  (optional)
     * @param contentType  (optional)
     * @param page Page number (optional)
     * @param size Results per page (optional)
     * @param activeOnly Filter active sub-accounts only (optional)
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun apiV1AccountsAccountIdSubAccountsGet(accountId: kotlin.String, xAuthID: kotlin.String? = null, xAuthToken: kotlin.String? = null, contentType: kotlin.String? = null, page: kotlin.Int? = null, size: kotlin.Int? = null, activeOnly: kotlin.Boolean? = null) : Unit {
        val localVarResponse = apiV1AccountsAccountIdSubAccountsGetWithHttpInfo(accountId = accountId, xAuthID = xAuthID, xAuthToken = xAuthToken, contentType = contentType, page = page, size = size, activeOnly = activeOnly)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/accounts/{account_id}/sub-accounts/
     * List All Sub-Accounts
     * Retrieve all sub-accounts.
     * @param accountId 
     * @param xAuthID  (optional)
     * @param xAuthToken  (optional)
     * @param contentType  (optional)
     * @param page Page number (optional)
     * @param size Results per page (optional)
     * @param activeOnly Filter active sub-accounts only (optional)
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun apiV1AccountsAccountIdSubAccountsGetWithHttpInfo(accountId: kotlin.String, xAuthID: kotlin.String?, xAuthToken: kotlin.String?, contentType: kotlin.String?, page: kotlin.Int?, size: kotlin.Int?, activeOnly: kotlin.Boolean?) : ApiResponse<Unit?> {
        val localVariableConfig = apiV1AccountsAccountIdSubAccountsGetRequestConfig(accountId = accountId, xAuthID = xAuthID, xAuthToken = xAuthToken, contentType = contentType, page = page, size = size, activeOnly = activeOnly)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation apiV1AccountsAccountIdSubAccountsGet
     *
     * @param accountId 
     * @param xAuthID  (optional)
     * @param xAuthToken  (optional)
     * @param contentType  (optional)
     * @param page Page number (optional)
     * @param size Results per page (optional)
     * @param activeOnly Filter active sub-accounts only (optional)
     * @return RequestConfig
     */
    fun apiV1AccountsAccountIdSubAccountsGetRequestConfig(accountId: kotlin.String, xAuthID: kotlin.String?, xAuthToken: kotlin.String?, contentType: kotlin.String?, page: kotlin.Int?, size: kotlin.Int?, activeOnly: kotlin.Boolean?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (size != null) {
                    put("size", listOf(size.toString()))
                }
                if (activeOnly != null) {
                    put("active_only", listOf(activeOnly.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xAuthID?.apply { localVariableHeaders["X-Auth-ID"] = this.toString() }
        xAuthToken?.apply { localVariableHeaders["X-Auth-Token"] = this.toString() }
        contentType?.apply { localVariableHeaders["Content-Type"] = this.toString() }
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/accounts/{account_id}/sub-accounts/".replace("{"+"account_id"+"}", encodeURIComponent(accountId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /api/v1/accounts/{account_id}/sub-accounts/
     * Create Sub-Account
     * Create a new sub-account under the master account.
     * @param accountId 
     * @param xAuthID  (optional)
     * @param xAuthToken  (optional)
     * @param contentType  (optional)
     * @param body  (optional)
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun apiV1AccountsAccountIdSubAccountsPost(accountId: kotlin.String, xAuthID: kotlin.String? = null, xAuthToken: kotlin.String? = null, contentType: kotlin.String? = null, body: kotlin.Any? = null) : Unit {
        val localVarResponse = apiV1AccountsAccountIdSubAccountsPostWithHttpInfo(accountId = accountId, xAuthID = xAuthID, xAuthToken = xAuthToken, contentType = contentType, body = body)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /api/v1/accounts/{account_id}/sub-accounts/
     * Create Sub-Account
     * Create a new sub-account under the master account.
     * @param accountId 
     * @param xAuthID  (optional)
     * @param xAuthToken  (optional)
     * @param contentType  (optional)
     * @param body  (optional)
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun apiV1AccountsAccountIdSubAccountsPostWithHttpInfo(accountId: kotlin.String, xAuthID: kotlin.String?, xAuthToken: kotlin.String?, contentType: kotlin.String?, body: kotlin.Any?) : ApiResponse<Unit?> {
        val localVariableConfig = apiV1AccountsAccountIdSubAccountsPostRequestConfig(accountId = accountId, xAuthID = xAuthID, xAuthToken = xAuthToken, contentType = contentType, body = body)

        return request<kotlin.Any, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation apiV1AccountsAccountIdSubAccountsPost
     *
     * @param accountId 
     * @param xAuthID  (optional)
     * @param xAuthToken  (optional)
     * @param contentType  (optional)
     * @param body  (optional)
     * @return RequestConfig
     */
    fun apiV1AccountsAccountIdSubAccountsPostRequestConfig(accountId: kotlin.String, xAuthID: kotlin.String?, xAuthToken: kotlin.String?, contentType: kotlin.String?, body: kotlin.Any?) : RequestConfig<kotlin.Any> {
        val localVariableBody = body
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xAuthID?.apply { localVariableHeaders["X-Auth-ID"] = this.toString() }
        xAuthToken?.apply { localVariableHeaders["X-Auth-Token"] = this.toString() }
        contentType?.apply { localVariableHeaders["Content-Type"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v1/accounts/{account_id}/sub-accounts/".replace("{"+"account_id"+"}", encodeURIComponent(accountId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /api/v1/accounts/{account_id}/sub-accounts/:sub_account_id
     * Delete a Sub-Account
     * Delete a sub-account. Returns 204 No Content.
     * @param accountId 
     * @param xAuthID  (optional)
     * @param xAuthToken  (optional)
     * @param contentType  (optional)
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun apiV1AccountsAccountIdSubAccountsSubAccountIdDelete(accountId: kotlin.String, xAuthID: kotlin.String? = null, xAuthToken: kotlin.String? = null, contentType: kotlin.String? = null) : Unit {
        val localVarResponse = apiV1AccountsAccountIdSubAccountsSubAccountIdDeleteWithHttpInfo(accountId = accountId, xAuthID = xAuthID, xAuthToken = xAuthToken, contentType = contentType)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /api/v1/accounts/{account_id}/sub-accounts/:sub_account_id
     * Delete a Sub-Account
     * Delete a sub-account. Returns 204 No Content.
     * @param accountId 
     * @param xAuthID  (optional)
     * @param xAuthToken  (optional)
     * @param contentType  (optional)
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun apiV1AccountsAccountIdSubAccountsSubAccountIdDeleteWithHttpInfo(accountId: kotlin.String, xAuthID: kotlin.String?, xAuthToken: kotlin.String?, contentType: kotlin.String?) : ApiResponse<Unit?> {
        val localVariableConfig = apiV1AccountsAccountIdSubAccountsSubAccountIdDeleteRequestConfig(accountId = accountId, xAuthID = xAuthID, xAuthToken = xAuthToken, contentType = contentType)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation apiV1AccountsAccountIdSubAccountsSubAccountIdDelete
     *
     * @param accountId 
     * @param xAuthID  (optional)
     * @param xAuthToken  (optional)
     * @param contentType  (optional)
     * @return RequestConfig
     */
    fun apiV1AccountsAccountIdSubAccountsSubAccountIdDeleteRequestConfig(accountId: kotlin.String, xAuthID: kotlin.String?, xAuthToken: kotlin.String?, contentType: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xAuthID?.apply { localVariableHeaders["X-Auth-ID"] = this.toString() }
        xAuthToken?.apply { localVariableHeaders["X-Auth-Token"] = this.toString() }
        contentType?.apply { localVariableHeaders["Content-Type"] = this.toString() }
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/api/v1/accounts/{account_id}/sub-accounts/:sub_account_id".replace("{"+"account_id"+"}", encodeURIComponent(accountId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/v1/accounts/{account_id}/sub-accounts/:sub_account_id
     * Retrieve a Sub-Account
     * Get details of a specific sub-account.
     * @param accountId 
     * @param xAuthID  (optional)
     * @param xAuthToken  (optional)
     * @param contentType  (optional)
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun apiV1AccountsAccountIdSubAccountsSubAccountIdGet(accountId: kotlin.String, xAuthID: kotlin.String? = null, xAuthToken: kotlin.String? = null, contentType: kotlin.String? = null) : Unit {
        val localVarResponse = apiV1AccountsAccountIdSubAccountsSubAccountIdGetWithHttpInfo(accountId = accountId, xAuthID = xAuthID, xAuthToken = xAuthToken, contentType = contentType)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/accounts/{account_id}/sub-accounts/:sub_account_id
     * Retrieve a Sub-Account
     * Get details of a specific sub-account.
     * @param accountId 
     * @param xAuthID  (optional)
     * @param xAuthToken  (optional)
     * @param contentType  (optional)
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun apiV1AccountsAccountIdSubAccountsSubAccountIdGetWithHttpInfo(accountId: kotlin.String, xAuthID: kotlin.String?, xAuthToken: kotlin.String?, contentType: kotlin.String?) : ApiResponse<Unit?> {
        val localVariableConfig = apiV1AccountsAccountIdSubAccountsSubAccountIdGetRequestConfig(accountId = accountId, xAuthID = xAuthID, xAuthToken = xAuthToken, contentType = contentType)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation apiV1AccountsAccountIdSubAccountsSubAccountIdGet
     *
     * @param accountId 
     * @param xAuthID  (optional)
     * @param xAuthToken  (optional)
     * @param contentType  (optional)
     * @return RequestConfig
     */
    fun apiV1AccountsAccountIdSubAccountsSubAccountIdGetRequestConfig(accountId: kotlin.String, xAuthID: kotlin.String?, xAuthToken: kotlin.String?, contentType: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xAuthID?.apply { localVariableHeaders["X-Auth-ID"] = this.toString() }
        xAuthToken?.apply { localVariableHeaders["X-Auth-Token"] = this.toString() }
        contentType?.apply { localVariableHeaders["Content-Type"] = this.toString() }
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/accounts/{account_id}/sub-accounts/:sub_account_id".replace("{"+"account_id"+"}", encodeURIComponent(accountId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PUT /api/v1/accounts/{account_id}/sub-accounts/:sub_account_id
     * Update a Sub-Account
     * Update sub-account settings.
     * @param accountId 
     * @param xAuthID  (optional)
     * @param xAuthToken  (optional)
     * @param contentType  (optional)
     * @param body  (optional)
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun apiV1AccountsAccountIdSubAccountsSubAccountIdPut(accountId: kotlin.String, xAuthID: kotlin.String? = null, xAuthToken: kotlin.String? = null, contentType: kotlin.String? = null, body: kotlin.Any? = null) : Unit {
        val localVarResponse = apiV1AccountsAccountIdSubAccountsSubAccountIdPutWithHttpInfo(accountId = accountId, xAuthID = xAuthID, xAuthToken = xAuthToken, contentType = contentType, body = body)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /api/v1/accounts/{account_id}/sub-accounts/:sub_account_id
     * Update a Sub-Account
     * Update sub-account settings.
     * @param accountId 
     * @param xAuthID  (optional)
     * @param xAuthToken  (optional)
     * @param contentType  (optional)
     * @param body  (optional)
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun apiV1AccountsAccountIdSubAccountsSubAccountIdPutWithHttpInfo(accountId: kotlin.String, xAuthID: kotlin.String?, xAuthToken: kotlin.String?, contentType: kotlin.String?, body: kotlin.Any?) : ApiResponse<Unit?> {
        val localVariableConfig = apiV1AccountsAccountIdSubAccountsSubAccountIdPutRequestConfig(accountId = accountId, xAuthID = xAuthID, xAuthToken = xAuthToken, contentType = contentType, body = body)

        return request<kotlin.Any, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation apiV1AccountsAccountIdSubAccountsSubAccountIdPut
     *
     * @param accountId 
     * @param xAuthID  (optional)
     * @param xAuthToken  (optional)
     * @param contentType  (optional)
     * @param body  (optional)
     * @return RequestConfig
     */
    fun apiV1AccountsAccountIdSubAccountsSubAccountIdPutRequestConfig(accountId: kotlin.String, xAuthID: kotlin.String?, xAuthToken: kotlin.String?, contentType: kotlin.String?, body: kotlin.Any?) : RequestConfig<kotlin.Any> {
        val localVariableBody = body
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xAuthID?.apply { localVariableHeaders["X-Auth-ID"] = this.toString() }
        xAuthToken?.apply { localVariableHeaders["X-Auth-Token"] = this.toString() }
        contentType?.apply { localVariableHeaders["Content-Type"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/api/v1/accounts/{account_id}/sub-accounts/:sub_account_id".replace("{"+"account_id"+"}", encodeURIComponent(accountId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
